@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}
.wrapper-table {
    height: 350px;
    overflow-y: auto;
}
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
th {
  background-color: rgb(240, 184, 64);
  color: #012B39;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  height: 40px;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

.action-btn:focus {
  border: none;
  outline: none;
  background-color: orange;
  border-radius: 4px;
  padding: 4px;
  color: #012B39;
}
