.ant-menu-horizontal {
    line-height: 46px;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: none;
    background: #38b2ac !important;
    color: white !important;
    text-transform: uppercase !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    min-height: 100px !important;
}
.ant-menu-overflow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ant-menu-title-content:hover {
    color: white !important;
}
.ant-menu-title-content:active {
    color: white !important;
}
.ant-menu-light .ant-menu-submenu-title:hover {
    color: white !important;
}
.ant-menu-item:hover,.ant-menu-item-only-child:hover,.ant-menu-overflow-item:hover {
    border-bottom: none!important;
}
