#rc-tabs-0-panel-2 > div > div > div > div > div > div > div > table > thead > tr > th.ant-table-cell.ant-table-selection-column {
    width: 100px;
}
#rc-tabs-0-panel-2 > div > div > div > div > div > div > div > table > thead > tr > th:nth-child(2) {
    width: 200px;
}
#rc-tabs-0-panel-2 > div > div > div > div > div > div > div > table > thead > tr > th:nth-child(3) {
    width: 350px;
}

// UPDATEINFO
body > div:nth-child(9) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > form > div:nth-child(4) > div.form-group.flex.justify-center.items-center.my-8 > button {
    border: none;
}
body > div:nth-child(9) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > form > div:nth-child(4) > div.form-group.flex.justify-center.items-center.my-8 > button:focus{
    outline: 0 !important;
}