:root{
    --primary-color:rgb(0, 174, 239);
  }
  
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
  /*========= BANNER =============*/
  .dento-btn{
     position: relative;
      z-index: 1;
      min-width: 170px;
      height: 46px;
      line-height: 42px;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      padding: 0 20px;
      text-align: center;
      color: #ffffff;
      border-radius: 2px;
      background-color: var(--primary-color);
      -webkit-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      border: 2px solid var(--primary-color);
  }
  .dento-btn.active, .dento-btn:focus, .dento-btn:hover {
      box-shadow: none;
      background-color: transparent;
      color: #00aeef;
  }
  
  .counter-count
  {
      font-size: 25px;
      font-weight: 600;
      position: relative;
      color: var(--primary-color);
      text-align: center;
    margin-bottom:0;
  }
  .count-up .counter-label {
    text-align:center
  }
  h6.counter-label{
    font-size:20px;
  }